@import '../../../styles/colors.scss';

@mixin defaultBtn{
    padding:10px 45px;
    background-color:$color4;
    color:$color1;
    border:none;
    font-size:1.25em;
    border-radius:4px;
}
.lpcontainer{
    background:url('../../../assets/image/banner.jpeg') no-repeat 0 0;
    background-size:cover;
    background-position:center;
    height:37.5em;
    position:relative;
    .register{
        width:340px;
        position:absolute;
        top:200px;
        left:150px;
        div{
            display:flex;
            align-items:center;
            position:relative;
            .logo{
                width:50px;
                height:50px;
                stroke:red;
                margin-bottom:.5em;
                position:absolute;
                top:-5px;
                left:-60px;
            }
            h3{
                font-size:2em;
                margin-bottom:.5em;
            }
        }
        p{
            font-size:14px;
            line-height:15px;
        }
        button{
            @include defaultBtn;
            background-color:$color6;
            margin-top:20px;
        }
    }
}
nav{
    display:flex;
    justify-content: flex-end;
    padding:.9375em 1.875em .9375em;
    color:$color1;
    font-weight:300;
    font-size:1.25em;
    // border-bottom: 1px solid $color1;
    margin:0 1.875em;
    a{
        color:$color1;
        text-decoration: none;
        li{
            border-width:1px;
            border-style:solid;
            border-color: transparent;
            padding:10px 20px;
            transition: border-color .65s;
            color:$color1;
            &:hover{
                border-color:$color1;
            }
        }
        &:hover{
            text-decoration:none;
        }
    }
}